@import "tailwindcss";

.colors{
    background: linear-gradient(90.12deg, rgba(39, 68, 124, 0.2) 18.55%, rgba(38, 57, 92, 0.156) 38.23%, rgba(38, 57, 92, 0) 107.91%);

}
.clubColors{
   background: #00000099;

box-shadow: 0px 4px 3px 0px #00000040;


}

